@*@page "/CityEdit"*@
@page "/CityEdit/{CityId}"
@using CityBlazorApp.Pages
@*@inherits CityEdit*@

<h1>CityEdit</h1>

<h2>
    @*@CityBlazorApp.Pages*@
    @EditedCity.Name
</h2>

<h4>@EditedCity.Description</h4>


